:root {
  /* --color-background: rgb(255, 255, 255); */
  --color-background: hsl(60deg 25% 92%);
  /* --color-text-primary: rgb(85, 84, 85); */
  --color-text-primary: rgb(11, 11, 11);

  --color-text-muted: rgb(172, 172, 172);
  --color-text-link: rgb(83, 89, 178)
}
